@charset "UTF-8";
@import url(reset.css);
@import url(guideline.css);

div#wrap {
  width: 1160px;
  height: 780px;
  margin: 0 auto;
}

header#header {
  text-align: center;
  font-size: 33px;
  font-weight: bold;
  padding: 20px 0;
}

nav#gnb {
  padding: 20px 0;
}

nav#gnb ul.flexbox {
  text-align: center;
  justify-content: center;
}

nav#gnb ul.flexbox li:not(:nth-child(2n)) a {
  font-size: 16px;
  padding: 0 20px;
  display: inline-block;
}

nav#gnb ul.flexbox li:not(:nth-child(2n)) a:hover {
  font-weight: bold;
}

div#contents div#topIvent {
  width: 390px;
}

#contents div#productList {
  flex: 1;
  margin-left: 50px;
  flex-wrap: wrap;
}

div#productList div.productItem {
  width: 220px;
  margin: 0 5px;
}

div.productItem table {
  width: 220px;
}
.productItem img {
  width: inherit;
}

tr.itemTitle {
  color: #f00;
  display: inline-block;
}

span.itemTag {
  color: rgb(172, 105, 17);
  font-size: 13px;
  font-weight: bold;
}
